<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="data source=(local);initial catalog=WebLib;Integrated Security=True;MultipleActiveResultSets=True;Application Name=LibWebSystem;Pooling=false;" />
    <add name="prod" connectionString="data source=28e505c9-8d36-421e-9e9c-a98e004462ea.sqlserver.sequelizer.com;initial catalog=db28e505c98d36421e9e9ca98e004462ea;User ID=yyudapgifimgezvj;Password=6rXHgr6Q76h6HxNVtCWfFESSBeqyk4r3PZjqKnbQcfjcCtUVPP4PhUXyFegcbFEc;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>