<div class="container" ng-init="inicializar()">
    <div class="col-lg-12">
        <h1>Edição de Livros</h1>
        <hr />
        <div class="col-lg-6">
            <div ng-include="'views/Livros/modalCadastro.html'"></div>
        </div>
        <div class="col-lg-6">
            <div ng-include="'views/Livros/modalDetalhes.html'"></div>
            <div class="margin-top-20">
                <input class="button btn btn-primary" ng-click="editarLivro()" value="Salvar Alterações" />
                <input class="button btn btn-danger" ng-click="cancelarAlteracao()" value="Cancelar" />
            </div>
        </div>
    </div>
</div>
