<div class="panel panel-default">
    <div class="panel-heading">
        <h3> Informações Livro</h3>
    </div>
    <div class="panel-body">
        <div>
            <label class="control-label">
                Título:
            </label>
            <i>{{Livro.Titulo}}</i>
        </div>
        <div>
            <label class="control-label">
                Autor:
            </label>
            <i>{{Livro.Autor}}</i>
        </div>
        <div>
            <label class="control-label">
                CDD:
            </label>
            <i>{{Livro.CDD}}</i>
        </div>
        <div>
            <label class="control-label">
                Qtd. Exemplares:
            </label>
            <i>{{Livro.Qtd_Exemplares}}</i>
        </div>
        <div>
            <label class="control-label">
                Ano de Publicação:
            </label>
            <i>{{Livro.Ano_Publicacao}}</i>
        </div>
        <div>
            <label class="control-label">
                Local de Publicação:
            </label>
            <i>{{Livro.Local_Publicacao}}</i>
        </div>
        <div>
            <label class="control-label">
                Cursos relacionados:
            </label>
            <i>{{infoLivro.cursos}}</i>
        </div>
        <div>
            <label class="control-label">
                Tipos de biografia:
            </label>
            <i>{{infoLivro.biografias}}</i>
        </div>
        <div>
            <label class="control-label">
                Tipos de ilustração:
            </label>
            <i>{{infoLivro.ilustracoes}}</i>
        </div>
        <div>
            <label class="control-label">
                Público Alvo:
            </label>
            <i>{{infoLivro.publicos}}</i>
        </div>
    </div>
</div>
