<div>
    <div class="container">
        <div class="row">
            <h1>Login</h1>

            <div class="form-group">
                <label class="control-label font-weight-bold">Usuário:</label>
                <input required type="text" class="form-control" ng-model="Usuario">
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Senha:</label>
                <input required type="password" class="form-control" ng-model="Senha">
            </div>

            <div class="margin-top-20">
                <input class="button btn btn-primary" ng-click="login(Usuario, Senha)" value="Logar" />
            </div>
        </div>
    </div>
</div>